<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <button
        style="margin-left: 0.25em; display: flex; background-color: rgb(56, 128, 255); padding: 0.25rem; align-items: center; font-size: 20px; border-radius: 1em 0 0 1em; color: white;"
        (click)="routeBack()">
        <ion-icon name="caret-back-outline"></ion-icon>
        Geri
      </button>
      <ion-title>
        Randevu Al
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <div
    style="width: 100%; display: flex; align-items: end; height: calc(100% - 44px); background-image: url(assets/images/clock.jpg); background-repeat: no-repeat; background-size: cover; flex-direction: column; justify-content: center;">
    <ion-list style="margin-left: auto; margin-right: auto; opacity: 0.75;">
      <ion-list>
        <ion-item style="margin: 1.5rem 0">
          <ion-input label="İsim" placeholder="İsim" [(ngModel)]="patientName"></ion-input>
        </ion-item>

        <ion-item style="margin: 1.5rem 0">
          <ion-input label="Soyisim" placeholder="Soyisim" [(ngModel)]="patientLastName"></ion-input>
        </ion-item>

        <ion-item style="margin: 1.5rem 0">
          <ion-select label="Doktorlar" placeholder="" [(ngModel)]="selectedDoctor">
            <ng-container *ngFor="let doctor of doctorList">
              <ion-select-option value="{{ doctor.doctorId }}"> {{ doctor.doctorFirstName }} {{ doctor.doctorLastName }}</ion-select-option>
            </ng-container>
          </ion-select>
        </ion-item>

        <ion-item style="margin: 1.5rem 0">
          <ion-textarea label="Şikayetiniz" placeholder="Şikayetinizi kısaca anlatınız" [(ngModel)]="symptoms"></ion-textarea>
        </ion-item>

        <ion-datetime [(ngModel)]="selectedDate"></ion-datetime>
      </ion-list>
    </ion-list>
    <ion-footer style="display: flex; justify-content: end; padding: 2rem;">
      <ion-button (click)="confirm()">Randevu Görüntüle</ion-button>
    </ion-footer>
  </div>
</ion-content>